<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decoded Result</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <h1>Decoded Result</h1>
      <p><strong>Morse Code:</strong> <%= morse %></p>
      <p><strong>Text:</strong> <%= text %></p>
      <a href="/">Go Back</a>
    </center>
  </body>
</html>
