<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Translation Result</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <h1>Translation Result</h1>
      <p><strong>Original Text:</strong> <%= text %></p>

      <p><strong>Morse Code: </strong> <%= morse %></p>
      <a href="/">Translate another text</a><br />
    </center>
  </body>
</html>
